<div style="display: flex; flex-direction: column; align-items: center;">

    <iframe src="https://giphy.com/embed/LPgFwCQg4HQBvPihcn" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <div>
        <h1>
        Hola! Para ingresar a la documentación, haz click en el siguiente enlace: 
        <a href="{{{documentacion}}}">Documentación</a>

        </h1>
    </div>


</div>